*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'NTR', sans-serif;
    font-weight: normal;
    background-color: #544e44;
    margin: 0;
    padding: 0;
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(100px, auto)repeat(5, 100px);


}

.calculator-grid>button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid #7b998e;
    outline: none;
    background-color: #282828;
    color: #98971a;
    border-radius: 5px;
}

.span-two {
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    background-color: #282828;
    border-radius: 5px;
    display: flex;
    align-items: end;
    justify-content: end;
    font-size: 2rem;
    padding-right: 20px;
    border: 1px solid #7b998e;
    color: #98971a;

}